<%# REGISTRATION PAGE %>

<center>
  <h2>Please Register</h2>

<%# REGISTRATION FORM %>

  <div class="container">
    <form class="form-inline" method="post" action="/register">
      <div class="form-group">
        <label for="username">Username:</label>   
        <input type="username" class="form-control" placeholder="Username" name="username">
      </div>
      <div class="form-group">
        &emsp;&emsp;
        <label for="password">Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password">
      </div>
      <br />
      <br />
      <input class="btn btn-primary" type="submit">
      </center>
    </form>
  </div>
</center>

<br />

<center><h3>Already have an account? <br/>
    <a href="/login" class="btn btn-success" role="button">Login Here!</a>

</center>


