<center><h1>CREATE USER PAGE</h1></center>

<% unless locals.empty? %>
  <center><%= message %></center>
<% end %>

 <center><h3>Please Register Here!</h3></center>


<div class="container">

  <center>
  <form class="form-inline" method="post" action="/register">
    <div class="form-group">
      <label for="username">Username:</label>   
      <input type="username" class="form-control" placeholder="Username" name="username">
    </div>
   
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" placeholder="Password" name="password">
    </div>
    <br><br>
    <input class="btn btn-primary" type="submit">
    </center>
  </form>
</div>


</form>
