<h1>SHOW THE USER ALL THEIR GAMES</h1>

<div class="container">        
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Platform</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @game.titles %></td>
        <td><%= @game.platform %></td>
      </tr>
    </tbody>
  </table>
</div>
