<center>

<h2>THE COMPLETE LIBRARY</h2>

<% @games.each do |game| %>

<div class="container">
          
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title:&ensp;<%= game.titles %>, &emsp;Platform:&ensp;<%= game.platform %></th>
      </tr>
    </thead>
    </tbody>
  </table>
</div>
<% end %>
