<center>
	<h2>THE COMPLETE VIDEO GAME LIBRARY</h2>

	<div class="container">
		<a class="btn btn-primary" href="/games/new" role="button">Add A Game!</a>
	</div>
</center>

	<br />

	<% @games.each do |game| %>

	<div class="container">    
	  <div class="row">
	    <div class="col-sm-6"><b>Title:&ensp;</b><%= game.title %>
	    </div>
	    <div class="col-sm-6"><b>Platform:&ensp;</b><%= game.platform %>
	    </div>
	    <hr>
	  </div>
	</div>
<% end %> 