<%# NEW GAME %>

<center>
  <h1>Add a game to the library:</h1>

  <br />

  <%# NEW GAME FORM %>

  <div class="container">
    <form class="form-inline-control" method="post" action="/games">       
        <input type="text" class="form-control" placeholder="enter title" name="title">     
        <input type="text" class="form-control" placeholder="enter platform" name="platform">    
      &emsp;<button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</center>