<%# CREATE A NEW GAME PAGE %>

<center>
<h1>Add A Game To Your Library:</h1>

<br />

<%# NEW GAME FORM %>


<div class="container">

  <form class="form-inline-control" method="post" action="/games">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" class="form-control" placeholder="title" name="title">
    </div>

    <div class="form-group">
      <label for="platform">&emsp;Platform:</label>
      <input type="platform" class="form-control" placeholder="Platform" name="platform">
    </div>

    <!-- <div class="form-group">
      <label for="username">&emsp;username:</label>
      <input type="text" name="Username" value= "<%=current_user.username %>" readonly>
    </div> -->

    &emsp;<button type="submit" class="btn btn-default">Submit</button>
    </center>
  </form>
</div>
