<%# SHOW THE CREATED GAME PAGE %>

<div class="container">        
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Platform</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @game.title %></td>
        <td><%= @game.platform %></td>
      </tr>
    </tbody>
  </table>
</div>

<%# LINK BUTTONs TO EDIT, DELETE, OR SEE LIBRARY %>

<center>
    <% if logged_in? %>
    <a href="/games/<%= @game.id %>/edit" button type="button" class="btn btn-danger" role="button">Edit Or Delete Your Game</a>&emsp;
    <a href="/games/new" class="btn btn-success" role="button" >Add Another Game</a>&emsp;
    <a href="/games" button type="button" class="btn btn-primary" role="button">See Your Game Library</a>
    <% end %>
    </center>


