<h1>SHOW THE GAME YOU JUST SUBMITTED PAGE</h1>

<div class="container">        
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Platform</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @game.titles %></td>
        <td><%= @game.platform %></td>
      </tr>
    </tbody>
  </table>
</div>




<form method="post" action="/games/<%=@game.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Title">
</form>

<a href="/games/<%=@game.id%>/edit">Edit Title </a>